@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u6lqho');
  src:  url('../fonts/icomoon.eot?u6lqho#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u6lqho') format('truetype'),
    url('../fonts/icomoon.woff?u6lqho') format('woff'),
    url('../fonts/icomoon.svg?u6lqho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new-product:before {
  content: "\e900";
}
.icon-loyalty:before {
  content: "\e901";
}
.icon-employees:before {
  content: "\e902";
}
.icon-activity:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e904";
}
.icon-graph:before {
  content: "\e905";
}
.icon-revenue:before {
  content: "\e906";
}
.icon-setting:before {
  content: "\e907";
}
