@media screen and (max-width: 700px) {
    .background-header {
        height: 950px;
    }
    .start-frame{
        min-height: 950px;
    }

    .start-frame__content{
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        margin-left: 0%;
    }

    .start-frame__image{
        width: 430px;
        height: 400px;
        order: 0;
        margin: 0px;
    }

    .start-frame__content__description{
        margin-top: 0px;
        order: 1;
    }

    .start-frame__benefits {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(2, 120px);
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .products__wrapper{
        flex-direction: column;
    }

    .values__wrapper {
        flex-direction: column;
    }

    .start-frame__image{
        background: url('../img/mobile/main-mobile.png') no-repeat;
        background-size: contain;
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
        .start-frame__image{
            background: url('../img/mobile/main-mobile-retina.png') no-repeat;
            background-size: cover;
        }
    }
}