ul, a, p, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

html{
    font-size: 16px;
}

p {
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: 'Euclid Circular A';
    font-style: normal;
}

.main-text{
    font-weight: 400;
    font-size: 0.85em;
    color: #29374E;
    line-height: 140%;
}

.title {
    max-width: 550px;
    font-weight: 400;
    font-size: 2.4em;
    line-height: 130%;
    color: #29374E;
}

.blue-text {
    color: #0962E8;
}

button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: #0962E8;
    border-radius: 5px;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 0px;
    transition: 0.1s;
}

button:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.35);
    font-size: 19px;
}

button:active{

    transform: scale(0.95);
}



.icon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #EFF9FF;
    font-size: 1.25em;
    color: #0962E8;
}

.main-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    box-sizing: border-box;
    padding: 0 60px;
    margin: 0px auto;
}

.background-header {
    width: 100vw;
    height: 665px;
    background: #CBECFF;
    position:absolute;
}

.start-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 665px;
    position: relative;
}

.start-frame__header {
    box-sizing: border-box;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.start-frame__header__language {
    cursor: pointer;
    margin: auto 5px;
    display: flex;
    flex-grow: 0;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 140%;
    color: #29374E;
    align-items: center;
    justify-content: center;
}

.start-frame__header__language.active {
   background-color: white;
   color: #0962E8;
}

.start-frame__content{
    display: flex;
    justify-content: space-between
}

.start-frame__image {
    width: 600px;
    height: 555px;
    margin-bottom: 57px;
    margin-right: -30px;
    background: url('../img/desktop/main.png') no-repeat;
    background-size: contain;
}

.start-frame__content__description {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.start-frame__content__description__title{
    display: flex;
    font-weight: 600;
    font-size: 4em;
    line-height: 130%;
    color: #29374E;
    gap: 5px;
}

.start-frame__content__description__title span{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-frame__content__description__title span.square {
    width: 120px;
    border-radius: 20px;
    text-align: center;
    background: #FFFFFF;
    color: #0962E8;
}

.start-frame__content__description__text{
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 300;
    width: 360px;
    font-size: 1.4em;
    line-height: 130%;
}

.start-frame__benefits {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(1, 120px);
    justify-content: center;
    gap: 20px;
    margin-top: -85px;
    z-index: 1;
}

.start-frame__benefits-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    margin-bottom: 14px;
    justify-content: space-between;
    transition: 0.5s;
}

.start-frame__benefits-item:hover{
    background-color: rgb(212, 236, 249);
}

.start-frame__benefits-item p{
    margin: 5px;
    font-weight: 400;
    color: #29374E;
    align-self: center;
}

.products-header{
    max-width: 550px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.products__wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px auto;
}

.products__item {
    box-sizing: border-box;
    padding-top: 25px;
    flex-shrink: 0;
    width: 500px;
    height: 325px;
    display: flex;
    background: #E9F6FF;
    border-radius: 35px;
    justify-content: space-between;
}

.products__item:first-child{
    padding-left: 20px;
    padding-right: 35px;
}

.products__item:last-child{
    padding-left: 35px;
    padding-right: 20px;
}

.products__item__description__title {
    max-width: 200px;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 140%;
    color: #000000;
    margin-bottom: 10px;
}

.products__item__description__text {
    max-width: 200px;
}

.products__item__description__image--1, .products__item__description__image--2{
    
    width: 220px;
    filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
    border-radius: 20px 20px 0px 0px;
    background-size: 100% 100%;

}

.products__item__description__image--1{
    background-image: url('../img/desktop/research.png');
}
.products__item__description__image--2{
    background-image: url('../img/desktop/advising.png');
}

.products__item img{
    margin-top: auto;
    margin-left: 20px;
    width: 220px;
    height: 290px;
    filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
    border-radius: 20px 20px 0px 0px;
}

.values__wrapper {
    margin: 80px 0px;;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.values__column--left {
    display: flex;
    flex-direction: column;
}

.values__text.main-text {
    width: 290px;
    line-height: 150%;
    margin-top: 13px;
    margin-bottom: 26px;
}

.values__column--right {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 140px);
    gap: 15px;
}

.values__item {
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    gap: 10px;
    transition: 0.5s;
}

.values__item:hover{
    cursor: pointer;
    background-color: rgb(212, 236, 249);
}

.test {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background: url('../img/main.png');
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .start-frame__image{
        background: url('../img/desktop/main-retina.png') no-repeat;
        background-size: contain;
    }
    .products__item__description__image--1{
        background-image: url('../img/desktop/research-retina.png');
    }
    .products__item__description__image--2{
        background-image: url('../img/desktop/advising-retina.png');
    }
}
