@media screen and (max-width: 980px) {
    html{
        font-size: 14px;
    }

    .main-text {
        font-size: 0.9em;
    }

    button {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-wrapper{
        padding: 0px;
    }

    .background-header {
        height: 500px;
    }
    .start-frame{
        min-height: 500px;
    }

    .start-frame__content{
        justify-content: center;
    }

    .start-frame__image{
        flex-shrink: 1;
        max-width: 430px;
        margin: 0px;
    }

    .start-frame__content__description{
        max-width: 340px;
        margin-top: 50px;
        padding: 0 2vh;
    }

    .start-frame__content__description__text{
        font-size: 13px;
        width: 100%;
        margin-bottom: 16px;
    }

    .start-frame__benefits {
        grid-template-columns: repeat(4, 160px);
        grid-template-rows: repeat(1, 120px);
        margin-bottom: 50px;
        margin-top: -145px;
    }

    .start-frame__benefits-item {
        padding-top: 0px;
        flex-direction: column;

    }

    .icon{
        margin-top: -5px;
        order: 0;
    }

    .start-frame__benefits-item p{
        order: 1;
        font-size: 1em;
        margin: 0;
    }

    .title {
        text-align: center;
        font-size: 1.7em;
        margin: 0px auto;
    }

    .products__wrapper{
        flex-direction: row;
    }

    .products__item, .products__item:first-child, .products__item:last-child{
        width: 344px;
        height: 215px;
        padding: 0px;
    }

    .products__item__description__image--1, .products__item__description__image--2{
        width: 140px;
        height: 190px;
        margin-right: 20px;
        margin-top: 25px;
        flex-shrink: 0;
    }

    .products__item__description {
        margin-left: 16px;
        margin-top: 25px;
        max-width: 145px;
    }

    .products__item__description__title {
        font-size: 1.1em;
    }



    .values__wrapper {
        margin-top: 0px;
        flex-direction: row;
        gap: 40px;
    }

    .values__column--left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 340px;
        margin: 0px auto;
    }
    
    .values__text.main-text {
        width: 340px;
        line-height: 150%;
        margin-top: 13px;
        margin-bottom: 26px;
        text-align: center;
        font-size: 1.2em;
    }
    
    .values__column--right {
        margin: 0px auto;
        grid-template-columns: repeat(2, 164px);
        grid-template-rows: repeat(2, 120px);
    }

    .values__item {
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 18px;
        background: #FFFFFF;
        box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
        gap: 7px;
    }

    .values__item__description.main-text {
        font-size: 0.9em;
    }

    .products__item__description__image--1{
        background-image: url('../img/mobile/research-mobile.png');
    }
    .products__item__description__image--2{
        background-image: url('../img/mobile/advising-mobile.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2) {

        .products__item__description__image--1{
            background-image: url('../img/mobile/research-mobile-retina.png');
        }
        .products__item__description__image--2{
            background-image: url('../img/mobile/advising-mobile-retina.png');
        }
    }
}